@import "../../styles/colors";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.carousel-container {
    padding: 2rem;
    text-align: center;
    background-color: $orange-30;
    position: relative;
  }
  

//   .card {
//     background: white;
//     padding: 1.5rem;
//     border-radius: 10px;
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
//     transition: transform 0.3s;
//     margin: 20px
//   }

.card {
    padding: 30px 30px 24px 30px;
    margin: 60px 60px 64px 60px;
    width: 100%;
    max-width: 310px;
    // height: 321px;
    min-height: 321px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px #0000001A;
    background-color: white;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    &_box1 {
        &_image {
            margin-bottom: 4px;
        }
        &_text {
            font-family: "Buenos Aires Trial";
            font-size: 16px;
            font-weight: 400;
            text-align: left;
        }
    }
   &_box2 {
    &_name {
        font-family: "Buenos Aires Trial";
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        color: #0E1B2C;
        margin-bottom: 5px;
        margin-top: 0;
    }
    &_university {
        font-family: "Buenos Aires Trial";
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #64647A;
        margin-top: 0;
    }
   }

}
  
  .slick-center .card {
    // transform: translateY(100px);
  }
  
//   .quote {
//     color: #3445f3;
//     font-size: 1.2rem;
//     margin-bottom: 1rem;
//   }

//   .slick-list {
//     height: 400px;
//     width: 80%;
//   }

//   .slick-next {
//     // background-color: red;
//     background-image: url("../../assets//png/rightArrow.png");
//     background-repeat: no-repeat;
//   }
//   .slick-next::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100px;
//     height: 100px;
//     background-image: url("../../assets//png/rightArrow.png");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: contain;
//   }
  